body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}

body {
	font: 18px/30px Capriola, Sans-serif; color: #fff;
}



section {
	overflow-x: hidden; height: 993px;
}		
			
/* MY Resume CSS */

#resume {
	background: #1D2882 url(images2/Travis_41s.jpg);
	background-size: cover;
}
	
	#resume h1 {
		color:#1D2882;
		width: 700px; height: 300px;
 		background: url(images2/Travis_Collins.png);
		text-indent: -9999px;
		position: relative; top: 75px; left: 250px;
	}

	#resume p {
		background-image:url("images/tan.png");
		border-radius: 0px 0px 60px 60px;
		
		color:#1D2882; font-size:22px; font-weight:bold;
		text-align:center;
		text-shadow:0px 0px 4px white;
		position: relative; top: 90px; left: 410px;
		width: 430px;
	}



#band {
	overflow:hidden;
	background: black url(images/torp_bg.jpg);
	/* background-size: cover; */	
 	position: relative; 
}


	div#gray h2, div#gray p  {
	/* 	float:left;	 */
	/* 	overflow:auto; */
	/* 	display:inline-block; */
	
		display:compact;
		background-image:url("images/gray.png");
		border-radius: 15px;
		/* padding:10px; */

	}
	
	#band h2 {
		position: relative; top: 110px; left: 205px;
		width: 285px;
	}
		
	#band p#band-info {
		position: relative; top: 140px; left: 150px;
		text-shadow:0px 0px 4px #282828;
		text-decoration: none;
		width: 285px;
		height:124px;
	} 	
		
		
		
		
			
	#band p#mwband {
		position: relative; top: 268px; left: 124px;
	}
	
	#mwband a {
		text-shadow:0px 0px 4px #282828;
		color: #8EB1DF; text-decoration: none;
	}
		#mwband a:hover {
			color: #d18f77;
		}
	
	
	
	#band ul li {
		float: left; box-shadow: 0 0 20px rgba(0,0,0,0.5); line-height: 0;
		position: absolute; list-style: none;
	}

		#band ul li:nth-child(1) {
			top: 340px; left: 50px;
			transform: rotate(10deg);
			-moz-transform: rotate(10deg);
			-webkit-transform: rotate(10deg);
			z-index: 1;
		}
		#band ul li:nth-child(2) {
			top: 300px; left: 320px;
			transform: rotate(-5deg);
			-moz-transform: rotate(-5deg);
			-webkit-transform: rotate(-5deg);
			z-index: 3;
		}
		#band ul li:nth-child(3) {
			top: 380px; left: 470px;
			transform: rotate(-2deg);
			-moz-transform: rotate(-2deg);
			-webkit-transform: rotate(-2deg);
			z-index: 2;
		}
		#band ul li:nth-child(4) {
			top: 340px; left: 660px;
			transform: rotate(7deg);
			-moz-transform: rotate(7deg);
			-webkit-transform: rotate(7deg);
			z-index: 1;
		}
		#band ul li:nth-child(5) {
			top: 330px; left: 840px;
			transform: rotate(-7deg);
			-moz-transform: rotate(-7deg);
			-webkit-transform: rotate(-7deg);
			z-index: 2;
		}
		#band ul li:nth-child(6) {
			top: 378px; left: 930px;
			transform: rotate(-2deg);
			-moz-transform: rotate(-2deg);
			-webkit-transform: rotate(-2deg);
			z-index: 1;
		}

	
	
#swim {
	background: black url(images2/underwater1.jpg);
	background-size: cover;
}

	#swim h2 {
		position: relative; top: 187px; left: 680px;
	}
	
	#swim-photo {
		position: absolute; top: 170px; left: 200px; ; 
		transform: rotate(0deg);
		-moz-transform: rotate(0deg);
	}
	
	#swim p {
		position: relative; top: 380px; left: 570px;
		/* width: 300px; */
	}
	
	#swim a {
		position: relative; top: 240px; left: 690px;
		color: #91d827; text-decoration: none;
	}
		#swim a:hover {
			color: #83b040;
		}


#trap {
	background: black url(images2/trap3s.jpg);
	background-size: cover;
}
	
	#trap h2 {
		color:#2f3035;
		width: 858px; height: 161px;
		position: relative; top: 100px; left: 250px;
	}

	#trap-photo {
		position: absolute; top: 230px; left: 500px; ; 
		transform: rotate(0deg);
		-moz-transform: rotate(0deg);
	}

	#trap p {
		position: relative; top: 0px; left: 400px;
		width: 500px; height: 161px; 
		color:black;
	}
	
	#trap a {
		top: 130px; left: 210px;
		color:white;
		position: relative;
		text-decoration: none;
	}
	
			#trap a:hover {
				color: #dc9b85;
			}
	
	
#nhs {
	background: black url(images/OrangeNHS.jpg);
	background-size: cover;
}
	
 	#nhs h2 {
 		color:black;
		position: relative; top: 100px; left: 440px;
	}
	
	#nhs-photo img {
		border-radius: 35px;
		position: relative; top: 145px; left: 90px;
		box-shadow: 0px 0px 30px 5px gray;
	
	}
	
	#nhs p {
		color:black;
		position: absolute; top: 170px; left: 440px;
		text-shadow:0px 0px 4px white;
		width: 300px;
	}
	


#tri-m {
	background: black url(images/Tri-M_Background.jpg);
	background-size: cover;
}
	
 	#tri-m h2 {
		color:black;
		position: relative; top: 150px; left: 530px;
	}
	
	#tri-m-photo img {
		box-shadow: 0px 0px 30px 5px gray;
		position: relative; top: 450px; left: 70px;
	
	}
	
	#tri-m p {
		color:black;
		position: relative; top: 195px; left: 530px;
		/* width: 300px; */
	}


#ping-pong {
	background: black url(images2/PingPongTable.jpg);
	background-size: cover;
}

	#ping-pong h2 {
		position: relative; top: 144px; left: 370px;
		width: 400px; height: 150px;
		background: url(images/Ping-Pong2.png); 
		text-indent: -9999px;
	}
	
	#ping-pong p {
		position: relative; top: 240px; left: 120px;
		/* width: 300px; */
	}
	
	#ping-pong a {
		color: #fdd827; text-decoration: none;
	}
		#ping-pong a:hover {
			color: #f09813;
		}

#work {
	background: black url(images2/Umpire.jpg);
	background-size: cover;
}

	#work h2 {
		position: relative; top: 170px; left: 310px;
	}
	
	#work p {
		position: relative; top: 320px; left: -200px;
		text-align:center;
	}
	
	#work a {
		/* position: relative; top: 380px; left: 270px; */
		color: #b78152; text-decoration: none;
	}
		#work a:hover {
			color: #f0a05a;
		}


#volunteer {
	background: black url(images2/lakeside.jpg);
	background-size: cover;
}

	#volunteer h2 {
		color:black;
		position: relative; top: 140px; left: 160px;
	}

	#volunteer p {
		color:black;
		position: relative; top: 190px; left: -332px;
		text-align:center;
	}
	
	#volunteer a {
		color: blue; text-decoration: none; /* font-weight: bold; font-size: 26px; */
		position: relative; top: 300px; left: 160px;
	}
	
			#volunteer a:hover {
				color: blue;
				text-shadow:1px 1px 0px #3d84b0;
			}

i {
	vertical-align:middle;
	
	display:inline-block;
	height:51px;
	width:51px;	
	background-image:url(images/icons2.jpg);
	margin:3px 0px 3px 0px;
	border-radius: 9px;
}

#connect {
	background: black url(images2/Jesus.jpg);
	background-size: cover;
}

/* 	#connect h2 {
		width: 400px; height: 100px;
		background: url(images/connect.png); 
		text-indent: -9999px;
		position: relative; top: 60px; left: -250px;
	} */
	
	#connect-photo {
		 position: relative; top: 60px; left: -250px;
	}
	

	#connect p {
		text-align:right;
		color:black;
		position: relative; top: 110px; left: 30px;
		width: 250px;
	}
	
	i.facebook {
		background-position:-10px -2px;
	}
	
	i.twitter {
		background-position:-140px -2px;
	}
	
	i.youtube {
		background-position:-75px -2px;		
	}

	#connect a {
		color: black; text-decoration: none; /* font-weight: bold; font-size: 26px; */
		position: relative; top: /* 200px; left: 160px; */
	}

		#connect a:hover {
				color: black;
				text-shadow:1px 1px 0px white;
			}



